.card{
    background-color: rgb(252, 252, 252);
    text-align: center;
    color: grey;
    /* border: 1px solid black; */
    border-top: 2px solid #0000ff;
    /* box-shadow: 8px 8px rgb(243, 240, 240); */
    margin: 0 auto;
    width: 30%;
  }
  input[type="search"]{
    font-size: .5em;
    background-color: blue;
    height: 26px;
    margin: 0 auto 15px auto ;
    text-align: center;
    width: 150px;
  }
  .background{
    background-color: rgb(119, 209, 245);
    padding: 10px;
  }